@model Jayfolio.Web.Models.ProjectViewModels.ProjectIndexModel

<h1>Projects</h1>

<table class="table table-hover" id="proejctIndexTable">
    <tbody>
        @foreach (var project in Model.ProjectList)
        {
        <tr>
            <td>
                <a asp-controller="Project" asp-action="Showcase" asp-route-id="@project.Id">
                    @project.Title
                </a>
            </td>
            <td>
                @project.Description
            </td>
        </tr>
        }
    </tbody>
</table>
